services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: hive
      POSTGRES_DB: metastore
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - bigdata-net

  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    environment:
      - CLUSTER_NAME=bigdata
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - ./hadoop:/opt/hadoop/etc/hadoop
      - namenode:/hadoop/dfs/name
    env_file:
      - ./hadoop/hadoop.env
    networks:
      - bigdata-net

  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode1
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    ports:
      - "9864:9864"
    volumes:
      - datanode1:/hadoop/dfs/data
    networks:
      - bigdata-net
    depends_on:
      - namenode

  datanode2:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode2
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    ports:
      - "9865:9864"
    volumes:
      - datanode2:/hadoop/dfs/data
    networks:
      - bigdata-net
    depends_on:
      - namenode

  spark:
    image: bde2020/spark-master:3.1.1-hadoop3.2
    container_name: spark
    environment:
      - SPARK_MODE=master
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./spark:/spark/conf
    networks:
      - bigdata-net
    depends_on:
      - namenode
      - datanode1
      - datanode2

  spark-worker1:
    image: bde2020/spark-worker:3.1.1-hadoop3.2
    container_name: spark-worker1
    environment:
      - SPARK_MASTER=spark://spark:7077
    ports:
      - "8081:8081"
    networks:
      - bigdata-net
    depends_on:
      - spark

  hive:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive
    environment:
      - HIVE_METASTORE_DB_HOST=postgres
      - HIVE_METASTORE_DB_NAME=metastore
      - HIVE_METASTORE_DB_USER=hive
      - HIVE_METASTORE_DB_PASS=hive
    ports:
      - "10000:10000"
      - "10002:10002"
    networks:
      - bigdata-net
    depends_on:
      - namenode
      - postgres

  nifi:
    image: apache/nifi:1.27.0
    container_name: nifi
    ports:
      - "8089:8080"
    environment:
      - NIFI_WEB_HTTP_PORT=8080
    networks:
      - bigdata-net
    depends_on:
      - hive
      - spark

networks:
  bigdata-net:

volumes:
  namenode:
  datanode1:
  datanode2:
